:root {
    // Colors
    --main-background:  lightgray;
    --main-white:       white;
    --main-black:       black;
    --slide-background: royalblue;
    // Colors Buttons
    --button-gray:              rgb(128, 128, 128);
    --button-white:             rgb(211, 211, 211);
    --button-gray-transparent:  rgba(128, 128, 128, 0.5);
    --button-white-transparent: rgba(211, 211, 211, 0.5);
    // Fonts
    --main-font: sans-serif;
}