doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/styles.css")
        title Slider
    body 
        main 
            h1 Sliders
            h2 Ejemplos de sliders automatizados
            section.section-slider 
                .slider-container 
                    ul.slider 
                        li.slide: img(src="img/jpg/auto1.jpg")
                        li.slide: img(src="img/jpg/auto2.jpg")
                        li.slide: img(src="img/jpg/auto3.jpg")
                        li.slide.slide-text
                            .slide-information
                                h3 Título del Slide 
                                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam placeat, dolores porro ipsa assumenda ut? Culpa quaerat alias numquam!
                        li.slide: img(src="img/jpg/s1.jpg")
                        li.slide: img(src="img/jpg/s2.jpg")
                .slider-buttons-container 
                    .slider-buttons 
                        .slider__button
                        .slider__button
                        .slider__button
                        .slider__button
                        .slider__button
                        .slider__button

            section.section-slider 
                .slider-container 
                    ul.slider 
                        li.slide: img(src="img/jpg/auto1.jpg")
                        li.slide: img(src="img/jpg/auto2.jpg")
                        li.slide: img(src="img/jpg/auto3.jpg")
                        li.slide.slide-text
                            .slide-information
                                h3 Título del Slide 
                                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam placeat, dolores porro ipsa assumenda ut? Culpa quaerat alias numquam!
                        li.slide: img(src="img/jpg/s1.jpg")
                        li.slide: img(src="img/jpg/s2.jpg")
                .slider-buttons-container 
                    .slider-buttons 
                        .slider__button
                        .slider__button
                        .slider__button
                        .slider__button
                        .slider__button
                        .slider__button
        script(src="js/index.js", type="module")